@charset "UTF-8";

/* . > class, # > id*/
* {
	/* for easier margin and padding*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, "open sans", Arial, "Lucida Grande",
		sans-serif;
	font-weight: 300;
	font-size: 100%;
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1);
	background-image: url('../images/galaxy3.jpg');
	border-radius: 20px;
}

body a {
	color: rgb(255, 255, 255);
	text-decoration: underline;
	
}

body a:HOVER{
	color: rgb(0, 0, 0);
}

body a:visited {
	color: rgb(255, 255, 255);
}

#container {
	/* surrounds all content*/
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.6);
	width: 80%;
	height: inherit;
	margin: 0 auto;
	border-radius: 20px;
}

#loggedIn {
	display: inline-block;
	float: right;
	top: 0;
}


#logo {
	width: 50%;
	padding: 10px 5px 10px 5px;
}

.language {
	float: right;
	width: auto;
	margin: 0 auto;
	text-align: center;
	height: inherit;
	display: inline;
	text-transform: uppercase;
	vertical-align: middle;
}


.language  a {
	display: inline-block;
	margin: 0 auto;
}

.language a:HOVER {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.9);
}

.product-listing-header:HOVER{
	background-color: rgb(45, 45, 45);
	background-color: rgba(45, 45, 45, 0.6);
	
}

#addtocartlink:HOVER{
	color: rgb(0,0,0);
	
}

#planetButtons:HOVER{
	color: rgb(0,0,0);
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.9);
}

#planetButtons a:HOVER{
	color: rgb(0,0,0);
}

#menu {
	width:100%;
	padding: 5px 10px 5px 10px;
	background-color: rgb(45, 45, 45);
	background-color: rgba(45, 45, 45, 0.6);
}

.menuentry {
	width: auto;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	display: inline;
	padding: 5px 10px 5px 10px;
	text-transform: uppercase;
	vertical-align: middle;
}

.menuentry a {
	display: inline-block;
	margin: 0 auto;
}

.menuentry:HOVER {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
}

.menuentry a:HOVER {
	color: rgb(0, 0, 0);
}

#content {
	display: compact;
	padding: 10px 5px 10px 5px;
	margin-top: 30px;
	margin-bottom: 75px;
	overflow: hidden;
}

#maincontent {
	margin-bottom: 25px;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.6);
}

#marketing {
	position: relative;
	height: 300px;
	background-image: url('../images/marketing_01.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

#dYK_head {
	display: inline;
	font-size: 20px;
	font-weight: bold;
	margin-left: 20px;
}

#dYK {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 17px;
	height: auto;
	word-wrap: break-word;
	vertical-align: bottom;
}

.marketing-text {
	float: right;
	font-size: 3em;
	padding: 100px 50px 0 0;
	color: rgb(255, 255, 255);
}

.marketing-subtext {
	font-size: 12pt;
}

#category {
	text-align: center;
	vertical-align: middle;
	position: relative;
	right: auto;
	left: auto;
}

.categorytile {
	display: inline-block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid;
	border-color: rgb(255, 255, 255);
	border-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 1);
	min-width: 100px;
	width: 15%;
	margin: 2%;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: center;
	word-wrap: break-word;
	vertical-align: inherit;
	height: 0;
	padding-top: 5%;
	padding-bottom: 7%;
	margin-top: 20px;
}

.categorytile:HOVER {
	border-style: outset;
	cursor: pointer;
	color: rgb(0, 0, 0);
	background-color: white;
}

.cartFull {
/* 	border: 2px solid; */
	display: table;
	width: 100%;
	border-color: rgb(255, 255, 255);
	border-color: rgba(255, 255, 255, 0.6);
/* 	border-radius: 10px; */
	margin-bottom: 20px;
	padding: 10px 10px 10px 10px;
	background-color: rgb(0, 0, 0);
}

.cartField {
	width: auto;
	border-collapse: collapse;
	border: 2px solid;;
	border-color: rgb(255, 255, 255);
	border-color: rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	margin-bottom: 20px;
	padding: 10px 10px 10px 10px;
	background-color: rgb(0, 0, 0);
}



.cartField a:HOVER {
	color: rgb(0,0,0);
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.9);
	
}


.planetlist {
	display: inline-block;
	border: 2px solid;
	border-color: rgb(255, 255, 255);
	border-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 1);
	height: 150px;
	width: 150px;
	margin: 20px;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

#contentarea {
	border-color: rgb(255, 255, 255);
	border-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	background-color: rgb(0, 0, 0);
	height: 100%;
	padding: 5px 5px 5px 5px;
	width: 77%;
	float: left;
}

#contentarea-fullwidth {
	border-color: rgb(255, 255, 255);
	border-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	background-color: rgb(0, 0, 0);
	height: 100%;
	padding: 5px 5px 5px 5px;
}

#planetPicture {
	width: 49%;
	display: inline-block;
}

#planetDescription {
	margin-left: 10px;
	display: inline-block;
	width: 49%;
}

#rightsidebar {
	height: 100%;
	margin: 0 auto;
	width: 22%;
	float: right;
}

.box {
	position: relative;
	background-color: rgb(45, 45, 45);
	background-color: rgba(45, 45, 45, 0.6);
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 10px 10px 10px 10px;
	/* 	background-color: rgb(0, 0, 0); */
}

.boxtitle {
	
}

#login {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.separator {
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 4px;
	margin-top: 10px;
}

#footer {
	background-color: rgb(45, 45, 45);
	background-color: rgba(45, 45, 45, 0.6);
	margin-top: 50px;
	clear: both;
	padding: 10px 5px 10px 5px;
}

#orderSummary {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 30px;
}

.form {;
	
}

#orderForm {
	margin-left: 20px
}

.formField {
	display: table-row;
	background-color: rgb(0, 0, 0);
	padding-top: 2px;
	padding-bottom: 2px;
}

.formField label {
	border-color: rgb(255, 255, 255);
	border-color: rgba(255, 255, 255, 0.6);
	margin-left: 20px;
	width: 100px;
	display: inline-block;
}

.button input {
	margin-top: 20px;
}

.formField input {
	border: 2px solid;
	border-radius: 2px;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.6);
	border: none;
	font-style: italic;
	display: inline-block;
	margin-left: 20px;
	color: rgb(0, 0, 0);
}

.tbl {
	border-collapse: collapse;
	table-layout: fixed;
	white-space: nowrap;
}

.tbl tr {
	width: 100%;
}

.tbl td {
	padding-right: 20px;
	max-width: 15%;
	width: 300px;
	text-align: left;
}