@CHARSET "UTF-8";

* {
	/* 	border: 2px red solid; */
/* 	Size of boxes will not increase by margin and padding */
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
        box-sizing: border-box;
}

body{

   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "open sans", Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
	font-size: 100%;
	color: rgba(255,255,255,1);
	background-image: url('../images/galaxy3.jpg');
	border-radius: 20px;

/* 	background-color: black; */
	
}

#container {
	display:block;
	background-color:rgba(0,0,0,0.6);
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	/*height ganze seite + Scrollen*/
	border-radius: 20px;
	
}
#loggedIn{
	display:: inline-block;
	float: right;
	top: 0;
	
}

#navigation{
 display:block;
/* /*  	position: fixed; */ */
/*  	top:0; */
/*  	height: 100px; */
}

#navigation div {

}

#logo{
	display: inline;
	padding: 10px 5px 10px 5px;	
/* 	float: left; */
}

#companyname a{
	/* Hide the text (HACK!) */
    color: transparent;
}


#search{
/*  display: inline;  */
/* 	float:right; */
	align: right;
}

#menu{
	padding: 10px 5px 10px 5px;
}

.menuentry{
/* 	float:left; */
 	padding: 5px 10px 5px 0px;
	display: inline;
	text-transform: uppercase;
}

#shoppingcart{
/* 	float:right; */
}
#login {
/* 	float:right; */
}

#breadcrumb{
	padding: 10px 5px 10px 5px;
}

#content{
/* 	display: block; */
/* 	position:static; */
	padding: 10px 5px 10px 5px;
}

#maincontent{
	margin-top: 5%;
	vertical-align: middle;
 
}

.categorytile{
    display: inline-block;
	border: 2px solid;
	border-color: rgba(255,255,255,0.6);
	border-radius:10px;
	background-color: rgba(0,0,0,1);
	height: 150px;
	width: 150px;
	margin: 20px;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

#marketing {
	height: 300px;
	background-image: url('../images/marketing_01.jpg');
}

.marketing-text {
	float: right;
	font-size: 3em;
	padding: 100px 50px 0 0;
	color: white;
	
}

.marketing-subtext {
	font-size: 12pt;
}

#contentarea{
	display: inline-block;
	border: 2px solid;
	border-color: rgba(255,255,255,0.6);
	border-radius:10px;
}

#rightsidebar{
	border: 2px solid;
	border-color: rgba(255,255,255,0.6);
	border-radius:10px;
	height: 600px;
	width: 200px;
	display: inline-block;
	float:right;
}
.box{
	border: 2px solid;
	border-color: rgba(255,255,255,0.6);
	border-radius:10px;
}
#footer{
		padding: 10px 5px 10px 5px;
	
}
